* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main {
    position: relative;
    display: flex;
    height: 400px;
    width: 900px;

    .left {
        position: relative;
        height: 400px;
        width: 400px;
        background-color: rgb(20, 20, 65);

        h1 {
            color: white;
            font-size: 25px;
            width: 140px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h2 {
            color: white;
            font-size: 20px;
            margin: 15px 31px;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            color: rgb(211, 211, 211);
            font-size: 12px;
        }
        .d1, .d2, .d3, .d4 {
            position: relative;
            display: flex;
            margin: 20px 0px;
            justify-content: space-around;
            .div2 {
                width: 100px;
                padding-left: 40px;
                border-left: 1px solid white;
            }
        }
        .end {
            position: relative;
            height: 90px;
            background-color: rgb(255, 39, 39);
            #p1 {
                position: absolute;
                left: 30px;
                top: 15px;
                color: white;
            }
            h1 {
                position: absolute;
                left: 30px;
                top: 30px;
            }
            #p2 {
                position: absolute;
                top: 60px;
                left: 30px;
                color: white;
            }
        }
    }

    form {
        position: relative;
        height: 400px;
        width: 500px;
        background-color: white;
        h2 {
            position: relative;
            color: red;
            font-size: 20px;
            margin: 15px 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .topDiv {
            position: relative;
            width: 100%;
            height: 50px;
            .justContent {
                position: relative;
                display: flex;
                justify-content: space-around;
                height: 50px;
                width: 350px;
                #d1, #d2 {
                    position: relative;
                    width: 160px;
                    height: 48px;
                    margin: 0px 20px;
                    border: 1px solid rgb(100, 100, 100);
                    background-color: white;

                    .visa {
                        position: absolute;
                        width: 50px;
                        height: 20px;
                        top: 14px;
                        left: 15px;
                    }
                    .master {
                        position: absolute;
                        width: 50px;
                        height: 40px;
                        top: 3px;
                        left: 65px;
                    }
                    .paypal {
                        position: absolute;
                        width: 55px;
                        height: 25px;
                        top: 14px;
                        left: 35px;
                    }
                }
            }
        }
        .inputs {
            position: relative;
            height: 235px;
            width: 100%;
            input {
                outline: none;
            }

            .dinp1 {
                position: relative;
                width: 96%;
                height: 65px;
                margin: 20px 10px;
                .p1 {
                    position: relative;
                    font-weight: bold;
                }
                #inp1 {
                    position: relative;
                    padding: 10px;
                    font-size: 15px;
                    width: 95%;
                    margin: 5px 0px;
                }
            }
            .justBetween {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 96%;
                height: 65px;
                margin: 20px 10px;

                .inps {
                    position: relative;
                    height: 40px;
                    top: 20px;
                    width: 230px;
                    font-size: 15px;
                }
                #p1 {
                    position: absolute;
                    font-weight: bold;
                    left: 0px;
                }
                #p2 {
                    position: absolute;
                    font-weight: bold;
                    right: 200px;
                }
            }
            .endDiv {
                position: relative;
                p {
                    position: absolute;
                    font-weight: bold;
                    left: 10px;
                }
                input {
                    position: relative;
                    width: 95%;
                    height: 40px;
                    margin: 20px 10px;
                }
            }
        }
        button {
            position: relative;
            color: white;
            width: 96%;
            padding: 10px;
            border: none;
            transition: .5s;
            cursor: pointer;
            margin: 5px 10px;
            background-color: rgb(71, 100, 194);
        }
        button:hover {
            background-color: rgb(44, 67, 143);
        }
    }
}